<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="card">
      <h1>February</h1>
      <div class="item item-text-wrap">
        <div class="list card">

          <a href="#" class="item item-icon-left">
            1: First Day
          </a>

          <a href="#" class="item item-icon-left">
            2: Your Mom
          </a>

          <a href="#" class="item item-icon-left">
            <i class="icon ion-wifi"></i>
            Enter wireless password
          </a>

          <a href="#" class="item item-icon-left">
            <i class="icon ion-card"></i>
            Enter card information
          </a>

        </div>
      </div>
    </div>

    <div class="card">
      <h1>March</h1>
      <div class="item item-text-wrap">

        This is a basic Card which contains an item that has wrapping text.
      </div>
    </div>

    <div class="card">
      <h1>April</h1>
      <div class="item item-text-wrap">

        This is a basic Card which contains an item that has wrapping text.
      </div>
    </div>

    <div class="card">
      <h1>May</h1>
      <div class="item item-text-wrap">
        This is a basic Card which contains an item that has wrapping text.
      </div>
    </div>


  </ion-content>
</ion-view>
